@charset "utf-8";
/* CSS Document */

:root {
  --main-radius: 5px;
  --main-padding: 10px;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  background: linear-gradient(to right, pink, yellow);
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.3fr 1.5fr 0.5fr;
  grid-template-rows: 0.2fr 0.2fr 0.3fr 1.5fr 0.5fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "title title sidebar"
    "main main sidebar"
    "footer footer footer";
  gap: 0.2rem;
}

header {
  background: #BF99BE;
  grid-area: header;
  border-radius: var(--main-radius);
}

header img {
  width: 100%;
  height: auto;
  display: block;
}

nav {
  background: #E4D8D8;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
}

nav li a {
  text-decoration: none;
  display: block;
  border: 2px solid #0033CC;
  padding: 5px;
  background-color: #e66465;
  color: #FFFFFF;
}

nav a:hover {
  background-color: #BF99BE;
  color: white;
}

.myimage {
  padding: 5px;
}

#title {
  grid-area: title;
  background: #BFCDA6;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

main {
  background: #D2696A;
  grid-area: main;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#sidebar {
  background: #E4D8D8;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#sidebar img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

#content1 {
  grid-area: content1;
  background: #C92DD1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  grid-area: content2;
  background: #5CC7C2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #CEBC76;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 180px;
  height: auto;
  margin: 10px;
  border-radius: var(--main-radius);
}

footer {
  background: #B9EBB3;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  text-align: center;
}

/* make mobile */
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 0.2fr 2.2fr 1.2fr 0.2fr;
    grid-template-areas:
      "header"
      "nav"
      "title"
      "main"
      "sidebar"
      "footer";
  }

  nav ul li {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  nav li a {
    display: block;
  }
}	
		
