body{
    background-color: yellow;
    color:rgb(126, 126, 225);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    font-size: medium;
    text-align: center;
}
.list{
    list-style-type: square;
    color: rgb(126, 126, 225);
    font-weight: bold;
    font-size: large;
}
.players{
    color: green;
    font-style: italic;
    font-size: large; 
    font-family: fantasy;  
}
.table{
    border: 2px solid blue;
    margin: auto;
    border-collapse: collapse;
    background-color: khaki;
    color:cornflowerblue;
    align-items: center;
}
.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}